
    <div id="anual">
      <h1>Tabla Anual 2020</h1>
    <table class="table-content">
      <thead>
        <tr>
          <th>POS</th>
          <th>CLUB</th>
          <th>J</th>
          <th>G</th>
          <th>E</th>
          <th>P</th>
          <th>DG</th>
          <th>PTS</th>
        </tr>
      </thead>

      {{#each stats}}
      <tr id={{colorXpos this.pos}}>
        <td>{{this.pos}}</td>
        <td><img width="15px" height="15px" src={{this.escudo}} alt={{this.abr}}>{{this.nombreClub}}</span></td>
        <td>{{this.j}}</td>
        <td>{{this.g}}</td>
        <td>{{this.e}}</td>
        <td>{{this.p}}</td>
        <td>{{this.dg}}</td>
        <td>{{this.pts}}</td>
      </tr>
      {{/each}}
    </table>
    </div>

